<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        * {
            box-sizing: border-box;
        }
        
        header {
            background-color: #050553;
            padding: 2em;
            text-align: center;
            color: white;
        }
        
        body {
            background-color: #f0f0f0;
            font-family: 'Poppins', sans-serif;
        }
        
        main {
            margin-top: 2em;
            width: 50%;
            padding: 2em;
            margin: auto;
            background-color: white;
        }
        
        input[type="text"] {
            padding: 1em;
        }
        
        textarea {
            height: 180px;
        }
        
        label {
            padding: .5em;
        }
        
        form {
            display: flex;
            flex-direction: column;
        }
        
        button {
            background-color: #050553;
            color: white;
            padding: 1em;
            margin: 2em 0;
            width: 25%;
        }
        
        article {
            border: 1px solid black;
            margin: 1.5em 0;
        }
        
        article h2 {
            color: white;
            background-color: #6781c9;
            margin: 0;
            padding: .5em;
        }
        
        article p {
            padding: 1em;
        }
    </style>
</head>

<body>
    <header>
        <h1>Prove 02</h1>
    </header>
    <main>
        <h2>Please enter a book and its summary:</h2>
        <form action='/getBooks' method="POST">
            <label for="title">Book Title:</label>
            <input type="text" name="title">
            <label for="summary">Summary:</label>
            <textarea name="summary"></textarea>
            <button type="submit">Add Book</button>
        </form>


        <% if(novels.length > 0) { %>
            <div class="userEntries">

                <% for(let book of novels) { %>
                    <article>
                        <h2>
                            <%= book.title %>
                        </h2>
                        <p>
                            <%= book.summary %>
                        </p>
                    </article>
                    <% } %>

            </div>
            <% } else {%>
                <p>No books found</p>
                <% } %>
    </main>
</body>

</html>