<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <p>This is the placeholder for Team Activity 02</p>
            </div>
        </div>
        <div class="container">
            <div>
                <form action='/ta02/addUser' method='POST'>
                    <label for='new-user'>Add A User</label>
                    <input type='text' name='new-user'>
                    <button type='submit'>Submit</button>
                </form>
            </div>
            <div>
                <h2>Current Users</h2>
            </div>
        </div>


</body>

</html>